<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Student Management System </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Student List</h1>
        </div>
        <div class="row">
            <a th:href="@{/students/new}" class="btn btn-primary">Add Student</a>
        </div>

        <table class="table table-sm table-striped table-bordered mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" student: ${students}">
                    <td th:text="${student.firstname}" scope="row"></td>
                    <td th:text="${student.lastname}"></td>
                    <td th:text="${student.email}"></td>
                    <td><a th:href="@{/students/edit/{id} (id=${student.id})}"><button
                                class="btn btn-primary">Update</button></a>
                                <a
                            th:href="@{/students/{id} (id=${student.id})}"><button
                                class="btn btn-danger">Delete</button></a></td>
                </tr>

            </tbody>
        </table>

    </div>

</body>

</html>